# ESP32-S3 Octal PSRAM Override
# Included when MEMORY_PROFILE is 16MB_8MB

CONFIG_SPIRAM_MODE_OCT=y
CONFIG_ESP32S3_FLASH_MODE_OCT=y
CONFIG_ESP32S3_INSTRUCTION_CACHE_8KB=y
CONFIG_ESP32S3_DATA_CACHE_8KB=y
